.CharacterCount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 100%;
  flex-grow: 1;
}

.CharacterCount p {
  color: var(--color5);
  font-size: clamp(1rem, 1.1rem, 1.2rem);
  margin: 0;
}

@media (min-width: 768px) {
  .CharacterCount {
    height: 50px;
    width: 100%;
  }
  
  .CharacterCount p {
 
  }
}

@media (min-width: 1366px) {
  .CharacterCount {
    width: 100%;
  }
  
  .CharacterCount p {
 
  }
}