.SubmitTask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 4px solid rgba(184, 60, 151, 0.5);
  padding: 10px;
}

/* .SubmitTask h2 {
  color: #f5d5e0;
  text-transform: capitalize;
  margin:0;
  margin-bottom: 15px;
} */

.SubmitTask form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 70%;
  flex-grow: 1;
}

.SubmitTask input {
  height: 50px;
  width: 50%;
  margin: 0;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 10px;
  font-size: 1rem;
  border-radius: 0;
  outline: none;
  border: 1px solid #f5d5e0;
  background-color: #f5d5e0;
  color: black;
}

.SubmitTask input:focus {
  box-shadow: 0px 0px 25px 0.5px rgba(245, 213, 224, 0.20);
} 

.SubmitTask input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(60, 55, 55);
  opacity: 1; /* Firefox */
}

.SubmitTask input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(60, 55, 55);
}

.SubmitTask input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(60, 55, 55);
}

.SubmitTask button {
  width: 100px;
  height: 50px;
  background-color: #210535;
  border: 1px solid #210535;
  border-left: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #f5d5e0;
  cursor: pointer;
  transition: border-color 0.25s;
  /* background-image: url(./assets/svg_background_1.svg);
  background-position: 100% 100%;
  background-size:contain; */
}

.SubmitTask button:hover {
  border: 1px solid #f5d5e0;
  border-left: 0;
  border-collapse: collapse;
}

.SubmitTask button:disabled {
  background-color: grey;
  border: 1px solid grey;
}

/* duplicate with the same found in EditTask */
.StatusMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 50px;
  padding: 10px;
  flex-shrink: 0;
}

.StatusMessage p {
  font-size: clamp(1.1rem, 1.2rem, 1.3rem);
  color: white;
  margin: 0;
}

.CharacterCount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 25px;
  width: 100%;
  flex-grow: 1;
}

.CharacterCount p {
  color: #f5d5e0;
  font-size: clamp(1rem,1.1rem, 1.2rem);
  margin: 0;
}