.Background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color1_75);
}

.Modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 550px;
  height: 450px;
  background-color: var(--color1);
  border: var(--border_color3_2px);
}

.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: var(--color1);
}

.Title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  flex-grow: 1;
  margin: 0;
  color: var(--font_color_light);
}

.ReturnButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  /* background-color: var(--color3); */
  border: var(--border_color3_2px);
  border-top: 0;
  border-left: 0;
}

.ReturnButton img {
  width: 25px;
}

.ReturnButton:hover {
  background-color: var(--color3);
}

.Dummy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.LoaderContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  flex-grow: 1;
  background-color: transparent;
}

.EditTaskForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  flex-grow: 1;
}

.InputGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 10px;
} 

.Label {
  width: 75px;
  color: var(--color5);
  font-size: 1.2rem;
}

.ID {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  background-color: var(--disabled_color);
  padding: 5px;
  font-size: 1.1rem;
}

.ID p {
  color: var(--font_color_dark);
}

.InputGroup .InputText {
  height: 35px;
  width: 100%;
  background-color: var(--color5);
  outline: none;
  border: var(--border_color5);
  padding: 5px;
  font-size: 1.1rem;
}

.InputGroup .InputText:focus {
  box-shadow: var(--input_focus_box_shadow);
} 

/* position checkbox to the center */
.Checkbox {
  margin-top: 15px;
  cursor: pointer;
}

.Checkbox span {
  width: 100px;
}

input.InputCheckbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.Button {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 50px;
  margin: 0;
  margin: 25px;
}

.Button button {
  height: 100%;
  width: 100%;
  background-color: var(--color2);
  border: var(--border_color2);
  color: var(--color5);
  font-size: 1.2rem;
  cursor: pointer;
  transition: border-color 0.25s;
}

.Button button:hover {
  border: 1px solid var(--color5);
  color: var(--color5);
}

.Button button:disabled {
  background-color: var(--disabled_color);
  border: var(--border_disabled-color);
  color: var(--font_color_dark);
}

/* duplicate with create task / shared too  */
.StatusMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50px;
  padding: 10px;
  flex-shrink: 0;
}

.StatusMessage p {
  font-size: clamp(1.1rem, 1.3rem, 1.5rem);
  color: var(--font_color_light);
  margin: 0;
}

.CharacterCountEdit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 25px;
  margin: 10px;
}

.CharacterCountEdit p {
  color: var(--color5);
  font-size: clamp(1rem, 1.1rem, 1.2rem);
  margin: 0;
}