.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #210535;
  background-image: url(./assets/svg_background_1.svg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
} 

.BackgroundOverlay {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  flex-direction: column;
  overflow: auto;
  width: 800px;
  height: 100%;
  background-color: #210535;
  border-left: 4px solid #7b337d;
  border-right: 4px solid #7b337d;
  scrollbar-gutter: stable both-edges; /* prevents layout shift when scrollbar dis/appearing */
}

.Header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.Header h1 {
  margin: 0;
  color: #f5d5e0;
}

.CreateTask {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: 80%;
  height: 200px;
  flex-shrink: 0
}